*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.jumb-container{
    display: flex;
    align-items: center;
    height: 85vh;
    overflow: hidden;
    margin-bottom: 80px;
}

.jumb-title{
 position: absolute;
 width: 50%;
 padding: 35px;
 color:white;

}
.img-jumb{
    width:100%;
}

.btn-register{
    background-color: #025159;
    color: white;
    border-radius: 12px;
    border: none;
    height: 35px;
    width: 160px;
}

.btn-register:hover{
    transform: scale(1.03);
}

.send-button{
    background-color: #025159;
    color: white;
    border-radius: 12px;
    border: none;
    height: 30px;
    width: 90px;

}

.send-button:hover{
    transform: scale(1.03);
}

.email-input{
    border-radius: 12px;
    border: none;
    height: 30px;
    width: 300px;;
    text-align: center;
    padding: 10px;
}

.container-catalogue-title{
    color: #025159;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
}

.prices-card{
    background-color: #359AA6;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}

.prices-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.616);
    border-radius: 10px;
}

.cards-container{
 width: 80%;
 margin: 100px auto;
}

.card-title{
    padding: 20px;
}





footer{
    background-color: #025159;
    width:100%;
    margin: 0;
    padding: 0;
    
}
footer ul{
    color: white;
    text-decoration: none;
}

footer li{
    color: white;
    list-style-type: none;
    padding: 20px;
}


.footer-container{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,0.3fr);
    
    
}
@media (max-width: 600px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2,0.3fr);
    }
}

@media (max-width: 550px) {

    .footer-container{
        display: grid;
        grid-template-columns: repeat(1,0.3fr);
    }

}

@media (max-width: 450px){
    .jumb-title h1{
        font-size: 20px;
    }
    .email-input{
        max-width: 180px;
        height: 25px;
        
    }
    .email-input::placeholder{
        font-size: 0.7em;
    }

    .send-button::-ms-value{
        font-size: 0.7em;
        height: 25px;
    }

}
