*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.jumb-container{
    display: flex;
    align-items: center;
    height: 85vh;
    overflow: hidden;
    margin-bottom: 80px;
}

.jumb-title{
 position: absolute;
 width: 50%;
 padding: 35px;
 color:white;

}
.img-jumb{
    width:100%;
}

.btn-register{
    background-color: #025159;
    color: white;
    border-radius: 12px;
    border: none;
    height: 35px;
    width: 160px;
}

.btn-register:hover{
    transform: scale(1.03);
}

.send-button{
    background-color: #025159;
    color: white;
    border-radius: 12px;
    border: none;
    height: 30px;
    width: 90px;

}

.send-button:hover{
    transform: scale(1.03);
}

.email-input{
    border-radius: 12px;
    border: none;
    height: 30px;
    width: 300px;;
    text-align: center;
    padding: 10px;
}

.container-catalogue-title{
    color: #025159;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
}

.prices-card{
    background-color: #359AA6;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}

.prices-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.616);
    border-radius: 10px;
}

.cards-container{
 width: 80%;
 margin: 100px auto;
}

.card-title{
    padding: 20px;
}





footer{
    background-color: #025159;
    width:100%;
    margin: 0;
    padding: 0;
    
}
footer ul{
    color: white;
    text-decoration: none;
}

footer li{
    color: white;
    list-style-type: none;
    padding: 20px;
}


.footer-container{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,0.3fr);
    
    
}

.modal {
	display: none;
	position: fixed;
	z-index: 0.5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-contenido {
	background-color: #fefefe;
	margin: 6% auto;
	padding: 35px;
	border: 1px solid #888;
	width: 60%;
	border-radius: 16px;

}

/* Estilos para el botón de cerrar */
#btn-cerrar {
	float: right;
	padding: 5px;
	background-color: #ddd;
	border: none;
}

#btn-cerrar:hover,
#btn-cerrar:focus {
	background-color: #bbb;
	cursor: pointer;
}

.title{
	text-align: center;
}

.contacts-container{
	text-align: center;
}

@media (max-width: 600px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2,0.3fr);
    }
}

@media (max-width: 550px) {

    .footer-container{
        display: grid;
        grid-template-columns: repeat(1,0.3fr);
    }

}

@media (max-width: 450px){
    .jumb-title h1{
        font-size: 20px;
    }
    .email-input{
        max-width: 180px;
        height: 25px;
        
    }
    .email-input::placeholder{
        font-size: 0.7em;
    }

    .send-button::-ms-value{
        font-size: 0.7em;
        height: 25px;
    }

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-contenido {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
  }
  
  .modal-body{
    text-align: justify;
    
  }

  .content{
    padding: 20px;
    
  }

  .content p{
    font-size: small;
  }

  .buttom-cerrar{
    background-color: #359AA6;
  }
  
